@font-face {
    font-family: "BreuerFont";
    src: url(fonts/BreuerFont.ttf);
}

@font-face {
    font-family: "BreuerHeadline";
    src: url(fonts/BreuerHeadline.ttf);
}

@font-face {
    font-family: "BreuerHeadline-Oblique";
    src: url(fonts/BreuerHeadline-Oblique.otf) format("opentype");
}

@font-face {
    font-family: "BreuerText-Bold";
    src: url(fonts/BreuerText-Bold.ttf) format("truetype");
}

@font-face {
    font-family: "BreuerText-BoldItalic";
    src: url(fonts/BreuerText-BoldItalic.otf) format("opentype");
}

@font-face {
    font-family: "BreuerText-Medium";
    src: url(fonts/BreuerText-Medium.ttf) format("truetype");
}

@font-face {
    font-family: "BreuerText-Regular";
    src: url(fonts/BreuerText-Regular.otf) format("opentype");
}

@font-face {
    font-family: "BreuerText";
    src: url(fonts/BreuerText.ttf) format("truetype");
}

body {
    background-image: url("images/Background.png");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

header {
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
}

.navigation {
    display: flex;
    gap: 1rem;
}

.banner {
    position: relative;
    text-align: center;
}
  
.banner img {
    /* max-width: 100%; */
    height: auto;
}

.banner-text {
    position: absolute;
    top: 40%;
    width: 100%;
    color: #fff;
    text-align: center;
}


.banner-text h1 {
    font-size: 400%;
    font-family: "BreuerHeadline-Oblique";
    text-transform: uppercase;
    color: #ffe400;
    margin: 0%;
}

.banner-text h2 {
    font-size: 200%;
    font-family: "BreuerHeadline-Oblique";
    text-transform: uppercase;
    color: #ffe400;
    margin: 0%;
}

.banner-text h3 {
    font-size: 150%;
    font-family: "BreuerHeadline-Oblique";
    text-transform: uppercase;
    color: #fff;
    margin: 0%;
}
  
.banner-text h6 {
    font-family: "BreuerFont";
    text-transform: uppercase;
    color: #fff;
    margin: 0%;
}

.email-signup {
    position: absolute;
    width: 100%;
    margin: 0%;
    margin-top: 1%;
}

.email {
    font-family: "BreuerText-Bold";
}

.button {
    position: absolute;
    width: 100%;
    margin: 0%;
    margin-top: 2%;
}

.bet-button {
    background-image: linear-gradient(to right, #007bff 0%, #fff 100%);
    background-size: 200% 100%;
    animation: gradient-animation 2s ease-in-out infinite;
    font-family: "BreuerHeadline-Oblique";
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 200%;
    cursor: pointer;
    box-shadow:
      0 0 0 2px green,
      0 0 0 4px yellow,
      0 0 0 6px red;
}

@keyframes gradient-animation {
    from {
      background-position: 0 0;
    }
    to {
      background-position: -100% 0;
    }
}

.steps123 {
    max-width: 100%;
    height: auto;
    text-align: center;
}

.steps {
    max-width: 100%;
    height: auto;
    text-align: center;
    position: relative;
}


.steps-animation {
    position: absolute;
    top: 50%; /* Adjust top position */
    left: 50%; /* Adjust left position */
    transform: translate(-50%, -50%); /* Center the animation */
    
}

.circle, .circle2, .circle3 {
    position: absolute;
    -webkit-animation: spin 1s linear infinite;
    -moz-animation: spin 1s linear infinite;
    animation: spin  1s linear infinite;
}

.circle {
    top: -57px;
    right: 235px;
}

.circle2 {
    top: -57px;
    left: -58px;
}

.circle3 {
    top: -57px;
    left: 236px;
}
  
@-webkit-keyframes spin {
    100%{-webkit-transform: rotate(360deg);}
 
}
@-moz-keyframes spin {
    100%{-webkit-transform: rotate(360deg);}
}
@keyframes spin {
    100%{-webkit-transform: rotate(360deg);}
}

.steps-text {
    display: flex;
    text-align: left;
    position: absolute;
    left: 30%;
    top: 6%;
}

.steps-text h1 {
    font-size: 100%;
    font-family: "BreuerFont";
    color: #fff;
}

.column {
    float: left;
    max-width: 100%;
    padding: 6vw;
    box-sizing: border-box;
}

.about {
    text-align: center;
    margin-top: 13%;
    float: left;
    margin-left: 38%;
}

.expandable-link {
  display: block;
  padding: 10px 20px;
  color: #fff;
  cursor: pointer;
  position: relative;
}

.expandable-link::after {
  content: "\25BC";
  font-size: 12px;
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  transition: transform 0.3s ease-in-out; /* Animation for the arrow */
}

.expandable-content {
  display: none;
  color:#fff;
  font-family: "BreuerText-Regular";
  font-size: small;
  text-align: left;
  padding: 15px;
  border: 1px solid #042446;
  border-top: none;
  border-radius: 5px 5px 0 0;
  background-color: #042446;
  position: absolute;
  top: 100%;
  left: 0;
  max-width: 80%;
  height: auto;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: top 0.3s ease-in-out; /* Animation for the content slide up */
}

.expandable-content h1 {
    font-size: 100%;
    font-family: "BreuerFont";
    color: #fff;
}

.expandable-link.expanded::after {
  transform: translateY(-50%) rotate(180deg);
}

.expandable-link.expanded + .expandable-content {
  display: block;
  top: 0;
}

.termsandcondition {
    text-align: center;
    margin-top: 13%;
    float: right;
    margin-right: 38%;
}

.open-terms {
    color: #fff;
    font-family: "BreuerText-Regular";
}
  
.terms {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff; 
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    z-index: 10;
}
  
.popup-terms {
    text-align: left;
}
  
.terms.visible {
    display: block;
}

.close-terms {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}
  
.close-terms:hover {
    color: red;
}

.popup-terms h1 {
    font-size: 100%;
    font-family: "BreuerText-Regular";
    font-weight: lighter;
}

